body {
    margin: 0;
    font-family: sans-serif;
    background: #cd0505;
    color: white;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .hero {
    padding: 20px;
  }
  
  .btn {
    background: #2d3436;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
